*.class
*.log
lib-tweety/
*.jaz

# sbt specific
.cache/
.history/
.lib/
dist/*
target/
lib_managed/
src_managed/
project/
target/
out/

# Scala-IDE specific
*.iml
.scala_dependencies
.worksheet
.idea
.idea/workspace.xml
.DS_Store


